.longform {
    font-size: 1.1rem;
    text-align: left;
}

.lowercase {
    text-transform: unset;
}

.small-caps {
    font-variant-caps: all-small-caps;
}

// .skip-ink {
//     text-decoration-skip-ink: auto;
//     text-decoration-skip: ink;
// }